
p{
    font-size: 25px;
    color:red;
    box-shadow: 5px 5px 8px peachpuff;
}
h2{
    color: rgb(91, 7, 94);
}
.navbar_brand{
    font-size: 25px;
}
#spt_pdeu{
    font-size: 50px;
    color: rgb(0, 110, 255);
}

.my_nav_bar{
    position: sticky;
    bottom: 100;
    z-index: 99999;
    background-color: #60ebeb;  
    
}
li hover{
color:black;
}
#signature{
    font-size: 25px;
 color: black;
}
#education{
    font-size: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}
#Awards_Recognition{
    text-align: left;
    font-size: 25px;
    
}
#Research{
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    
}
img{
   
    border: 5px solid black;
 padding-right: 400px;
}
#name{
    color: purple;
}
h4{
  padding-left: 400px;
}
b{
    padding-right: 400px;
    font-size: 30px;
}
#Courses{
    text-align: left;
}